/* Pages Dropmenu */

#dropmenu, #dropmenu ul {
	list-style-type: none;
	margin: 0px;
	display: block;
	width: 75%;
	height: auto;
	padding: 0px;
	float: left;
}
#dropmenu li {
	list-style-type: none;
	text-align: center;
	width: auto;
	display: block;
	float: left;
	height: auto;
	list-style-image: none;
	background-image: url(../images/navbg-b.png);
	background-repeat: no-repeat;
	background-position: right center;
	margin: 0px;
	padding-top: 0px;
	padding-right: 1px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#dropmenu li li {
	margin: 0px;
	padding: 0px;
	float: left;
	list-style-type: none;
	width: 10em;
	text-align: left;
	background-image: none;
}
#dropmenu li li:hover {
	background-image: none;
}
#dropmenu li a {
	list-style-type: none;
	display: block;
	width: auto;
	text-decoration: none;
	font-size: 11px;
	height: auto;
	color: #2c2c2c;
	text-transform: uppercase;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0px;
	font-weight: bold;
	text-shadow: 0px 1px 1px #fff;
	padding-top: 18px;
	padding-right: 15px;
	padding-bottom: 18px;
	padding-left: 15px;
}
#dropmenu li#home a {
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 0px;
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-radius: 5px 0px 0px 5px;
border-radius: 5px 0px 0px 5px; 
}
#dropmenu li a:hover, #dropmenu li#home a, #dropmenu li#home a:hover, #dropmenu li.current_page_item a, #dropmenu li#page_item a, #dropmenu li.menu-item-home a, #dropmenu li.current-menu-item a {
	background-image: url(../images/navbg-h.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}
#dropmenu .current_page_item li a, #dropmenu #page_item li a, #dropmenu .menu-item-home li a, #dropmenu .current-menu-item li a {
	background-image: none;
}
#dropmenu li li a {
	padding-top: 5px;
	padding-bottom: 5px;
}
#dropmenu li li a:hover {
	background-color: #0066CC;
	background-image: none;
	color: #FFFFFF;
	text-shadow: 0px 1px 1px #000;
}
#dropmenu span {}

#dropmenu ul {
	position:absolute;
	width: 10em;
	left: -999em;
	z-index: 9999;
	background-color: #fcfcfc;
	margin: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	border: 1px solid #d5d5d5;
	background-image: url(../images/navbg.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
	-webkit-box-shadow: 0px 5px 10px -5px #333;
	-moz-box-shadow: 0px 5px 10px -5px #333;
	box-shadow: 0px 5px 10px -5px #333; 
}
#dropmenu ul ul {
	margin-top: -2.2em;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 10em;
}

#dropmenu li:hover ul ul, #dropmenu li:hover ul ul ul, #dropmenu li:hover ul ul ul ul {
	left: -999em;
}
#dropmenu li:hover ul, #dropmenu li li:hover ul, #dropmenu li li li:hover ul, #dropmenu li li li li:hover ul {
	left: auto;
}
