p{color:#333!important;}
.endfloat{clear:both;display:block;font-size:1px;height:1px;visibility:hidden;}
.j-layout li{list-style-type:none!important;padding-bottom:4px!important;}
.j-layout ol li{list-style-type:decimal!important;padding-bottom:4px!important;}
.jive-content-body{overflow:hidden;}
.jive-content-body .anchor-links ul{-moz-border-radius:5px;background-color:#e6e6e6;border-radius:5px;list-style-image:none;list-style-type:none;margin:0 0 5px;padding:5px;}
.jive-content-body .anchor-links li{background:url(http://www.intel.com/sites/sitewide/30/pix/caret_down.gif) no-repeat 0 7px;display:inline;}
.jive-content-body .anchor-links li a{padding:0 8px;}
.jive-content-body .anchor-links li:hover{font-weight:700;text-decoration:none;}
UL.doublecaret{padding-left:5px!important;}
UL.doublecaret li{padding-bottom:0!important;}
UL.doublecaret li a{background:url(http://www.intel.com/newsroom/assets/images/caret_right.gif) no-repeat left center;padding:1px 0 1px 17px!important;}
UL.doublecaret li a.jive-link-blog-small{background-image:url(http://intelnewsroom.hosted.jivesoftware.com/images/jive-icon-blog-12x12.png)!important;padding-left:17px!important;}
UL.doublecaret li a.jive-link-wiki-small{background-image:url(http://intelnewsroom.hosted.jivesoftware.com/images/jive-icon-wiki-12x12.png)!important;padding-left:17px!important;}
UL.doublecaretvid{padding-left:0px !important;}
UL.doublecaretvid li{padding-bottom:0!important;line-height:16px;height:16px;background:url(http://www.intel.com/newsroom/assets/2014/images/nr-kit-bullet-video.gif) no-repeat 0 0;padding:1px 0 1px 35px !important;}
UL.doublecaretvid li:hover{background:url(http://www.intel.com/newsroom/assets/2014/images/nr-kit-bullet-video.gif) no-repeat 0 -18px;padding:1px 0 1px 35px !important;}
.backtotop{background:url(http://www.intel.com/newsroom/assets/images/newsroom/caret_up.gif) no-repeat right 50%;color:#fff;float:right;padding:3px 8px 0 1px;}
.backtotopblue{background:url(http://www.intel.com/newsroom/assets/images/caret_up.gif) no-repeat right 50%;float:right;font-size:70%;font-weight:400;margin-bottom:5px;min-height:0;padding:3px 8px 0 1px;margin-right:10px;color:#0860a8;}
.filesize{color:#666;font-size:10px;}
.hr{border-bottom:#a6a6a6 1px solid;font-size:1px;margin-bottom:4px;}
.hr-dotted {background-color: transparent;background-image: url(http://www.intel.com/sites/sitewide/30/pix/hr-dotted.gif); background-repeat: repeat-x; background-attachment: scroll;    background-position: left top;height: 12px;}
.right{background-color:#e6e6e6;float:right;margin:.5em 0 .5em .8em;}
.left{background-color:#e6e6e6;float:left;margin:.5em .8em .5em 0;}
.picture img{margin:3px 0 0 3px!important;}
.picture p{border-bottom:#ccc 0 solid;border-left:#ccc 0 solid;border-right:#ccc 0 solid;border-top:#ccc 0 solid;font:italic 11px Arial, sans-serif;padding:8px;}
.blogstoryr{border:1px solid #d3d3d3;float:right;margin:6px 0 6px 6px;padding:0;text-align:left;}
p.blogstorycaption_sm{font-size:10px;text-align:left;padding:0 0 3px 12px;width:180px;}
p.blogstorycaption{font-size:10px;text-align:left;padding:0 0 3px 12px;}
#prMasterContainer{width:100%;}
#prMasterContainer sup{_vertical-align:bottom;bottom:.4ex;font-size:.9em;height:0;line-height:1;position:relative;vertical-align:baseline;}
#prMasterContainer iframe{display:block;margin-left:auto;margin-right:auto;}
.jive-widget-rssfeed-entry clearfix{margin:0;padding:0!important;}
.jive-alert-type{float:left;padding:10px 10px 25px;position:relative;}
#jive-alert{-moz-border-radius:5px;background-color:#0071c5;background-image:url(http://www.intel.com/newsroom/assets/images/announcementnetwork.png);background-repeat:no-repeat;margin-left:auto;margin-right:auto;margin-top:0;margin-bottom:5px;position:relative;width:920px;}
.jive-icon-blog.jive-icon-med{background-image:url(http://www.intel.com/newsroom/assets/images/jive-icon-sprites-med.png)!important;}
.jive-icon-announcement{background-position:-16px -268px;}
.jive-alert-details{color:#7dd7fa!important;text-decoration:none;}
.jive-alert-details .jive-username-link{color:#fff!important;text-decoration:none;}
.jive-alert-header ul li a{color:#DBF4FD;font-size:.88em;}
.jive-alert-announcement-label{color:#f2e5b9;font-weight:700!important;font-size:1.25em;}
.jive-alert-content{color:#fff!important;font-size:1.1em;font-weight:400;margin:0;padding:4px 0 0 14px;width:880px;}
.jive-alert-content a:hover{text-decoration:underline;}
.jive-alert-content p{color:#fff!important;}
.jive-alert-header .jive-alert-title a{color:#fff;font-size:1.25em;font-weight:700;outline-color:invert;outline-style:none;outline-width:medium;text-decoration:none;}
#jive-alert-counter{background-color:transparent;margin:0;padding:0;position:absolute;right:0;top:10px;}
.jive-alert-count a{background-color:#005e91;color:#fff;display:block;padding:0 4px;}
.jive-alert-count-active a{background-color:#59d7e9;color:#fff;display:block;font-weight:700px;padding:0 4px;}
a:hover{text-decoration:underline!important;}
.jive-blog-post-message .jive-rendered-content ul li{list-style-type:disc!important;color:#333!important;font-family:intel-neo-sans-1,intel-neo-sans-2,tahoma,helvetica,sans-serif;}
.j-doc .jive-content{padding:12px!important;}
.jive-content-blog{padding:15px!important;}
.j-blog .jive-content section{margin-left:5px!important;}
#jive-body .j-layout-ls .j-column-l{margin-right:220px!important;}
.j-layout-ls .j-column-s{margin-left:-220px!important;}
.j-column-s{width:220px!important;}
.j-column-s .j-box-body{padding-left:10px!important;padding-right:10px!important;}
.jive-body-content .jive-attachments{left:0!important;}
.superkitbuttons{margin-left:auto;margin-right:auto;width:695px;}
.superkitbuttons img{margin-bottom:10px;margin-right:10px;}
.superkitbuttons img.superkitend{margin-bottom:10px;margin-right:0;}
/*.backtotopwhite a{color:#fff !important}*/.backtotopblue a{color:#0860a8!important;}
#jive-body-layout-sls .jive-body-layout-l .jive-widget-container,a img{border-bottom:0;border-left:0;border-right:0;border-top:0;}
.jive-widget-container-large .jive-widget,.jive-widget-container-small .jive-widget{background:none transparent scroll repeat 0 0;border-bottom:#e8e8e8 1px solid;border-left:#e8e8e8 1px solid;border-right:#e8e8e8 1px solid;border-top:#e8e8e8 1px solid;margin:0 2px 2px;}
.jive-alert-count,.jive-alert-count-active{border-bottom:#ccc 1px solid;border-left:#ccc 1px solid;border-right:#ccc 1px solid;border-top:#ccc 1px solid;display:block;float:none;margin:0 5px 5px 0;text-align:center;width:20px;}
.jive-alert-details span a:link,.jive-alert-details span a:visited{color:#7dd7fa;text-decoration:none;}
.jive-alert-details span a:hover,.jive-alert-header ul li a:hover{color:#7dd7fa;text-decoration:underline;}
.jive-alert-content a:link,.jive-alert-content a:visited{color:#7dd7fa;}
.jive-widget .jive-blog-post-subject-header h2,.jive-widget-rssfeed-entry-header a{display:block;font-size:1.1em;font-weight:700px;line-height:1.1;margin:0 0 .2em;}
#j-satNav li:first-child .jive-avatar{border:0!important;}
.box{background-color:#e6e6e6;padding-top:5px;}
/* gcg_hub calendar */#event-calendar .fc,#event-calendar .fc table{font-size:1em;background-color:#f6f6f6!important;}
#event-calendar .fc-event-skin{border-color:#004C90!important;background-color:#D4EDFE!important;color:#004C90!important;}
#event-calendar .fc-widget-header{background-color:#E6E6E6!important;}
#event-calendar .fc-state-highlight{background:#F6F5DF!important;}
/* gcg_hub action box */#jive-widgetframe_35328{background-color:#e6e6e6;}


/* For Local News Header */
#jive-widgetframe_40950#jive-widgetframe_40950{background:url(http://www.intel.com/newsroom/assets/images/nr-side-bg-local-news.png) no-repeat;height:88px;}
#jive-widgetframe-title_40950{color:#FFF;background:url(//www.intel.com/newsroom/assets/images/nr-side-icon-local-news.png) 0 1px no-repeat;padding-left:12px;}
#jive-widgetframe-header_40950 h4{padding:10px;}
#jive-widgetframe_40950 .jive-box-body{padding:0;}

/* For Quick Linkss Header */
#jive-widgetframe_40951 .jive-widget-header{background:url(http://www.intel.com/newsroom/assets/images/nr-side-header-quicklinks.png) no-repeat 50%;height:57px;}
#jive-widgetframe-title_40951{color:transparent; display:none;}

/* For Conflict Free Header */
#jive-widgetframe_40952 {height:201px}
#jive-widgetframe-title_40952{color:transparent;}
#jive-widgetframe_40952 .jive-box-body{padding:0;}

/* IDF Banner */
#jive-widgetframe_40955{padding-bottom:5px;border:none;}

/* Latest Press Releases */
#jive-widgetframe-body_40957{padding-bottom:15px;}

/* View More Banner */
#jive-widgetframe_40958{padding-bottom:5px;border:none;margin-top:-35px}

/* For Follow Us Header */
#jive-widgetframe_40960#jive-widgetframe_40960{background:url(http://www.intel.com/newsroom/assets/images/nr-side-bg-follow-intel.png) no-repeat;height:97px;}
#jive-widgetframe-title_40960{color:#fff;background:url(//www.intel.com/newsroom/assets/images/nr-side-icon-follow-intel.png) 0 2px no-repeat;padding-left:20px;}
#jive-widgetframe-header_40960 h4{padding:10px;}
#jive-widgetframe-body_40960 a,#jive-widgetframe-body_40960 a:link,#jive-widgetframe-body_40960 a:visited{color:#fff;text-decoration:underline;}

/* For Latest News Widget Header */
#jive-widgetframe_40961 .jive-widget-header{background:url(http://www.intel.com/newsroom/assets/images/nr-latest-news-mrq-sm.jpg) no-repeat 50%;height:57px;}
#jive-widgetframe-title_40961{color:transparent;display:none;}

/* Latest Intel News */
#jive-widgetframe_40962{padding-bottom:5px;border:none;margin-top:-35px}

/* For Photo Gallery Header */
#jive-widgetframe_40963 {height:201px}
#jive-widgetframe-title_40963{color:transparent;}
#jive-widgetframe_40963 .jive-box-body{padding:0;}



#jive-body-layout-sls .jive-body-layout-l .jive-widget-container{border:0!important;}
.j-box.j-enhanced header,.jive-widget .jive-box-header{border-top-left-radius:0;border-top-right-radius:0;}
.prHide{display:none;}
.prExpandedText_show{cursor:pointer;color:#0071C5;}
.prExpandedText_hide{cursor:pointer;color:#0071C5;}

/* For PR Contact Button Bottom of Releases */
.prContactID{ background:url(http://www.intel.com/newsroom/assets/2014/images/contact-pr-button-xs.png) no-repeat;height:20px;width:114px;float:right;cursor:pointer;}
