
#pranchornav {
    background-color: #0071C5;
    border-bottom: 1px solid #CCCCCC;
    margin: 0 0 1em;
    padding: 0;
    width: 100%;
}
#pranchornav ul {
    list-style-image: none;
    list-style-type: none;
    padding: 0;
    text-align: center;
    width: 100%;
}
#pranchornav li {
    display: inline-block;
    margin: 0;
    padding-bottom: 0 !important;
    *float:left;
}
#pranchornav li a:hover {
    background-color: #E8E8E8;
    color: #0071C5;
}
#pranchornav li:first-child a {
    border-left: 1px solid #CCCCCC;
}
#pranchornav li a {
    border-right: 1px solid #CCCCCC;
    color: #FFFFFF;
    display: block;
    padding: 4px 8px;
    text-decoration: none;
}
.headergradNR {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/nr-subhead.png");
    background-position: left center;
    background-repeat: no-repeat;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    font-size: 130%;
    font-weight: 100 !important;
    height: 26px;
    margin-bottom: 10px;
    padding: 3px 5px 0;
}
.subheaderNR {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/nr-bullet.gif");
    background-position: left center;
    background-repeat: no-repeat;
    color: #515357;
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 5px;
    min-height: 0;
    padding: 5px 5px 5px 35px;
}
.backtotopwhite {
    background: url("../images/caret_up.gif") no-repeat scroll right 50% rgba(0, 0, 0, 0);
    color: #0071C5;
    float: right;
    font-size: 70%;
    font-weight: 400;
    margin-bottom: 5px;
    margin-right: 10px;
    min-height: 0;
    padding: 3px 8px 0 1px;
}
.backtotopwhite a {
    color: #0071C5;
}
#prContent .hr-line {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/nr-seperator.png");
    background-position: left top;
    background-repeat: no-repeat;
    display: block;
    height: 7px;
    margin-bottom: 30px;
    margin-left: 35px;
    margin-top: 35px;
    min-height: 0;
}
#prContent .hr-dotted {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/nr-divider.png");
    background-position: left top;
    background-repeat: no-repeat;
    height: 18px;
    margin-bottom: 35px;
    margin-left: 30px;
    margin-top: 30px;
}

