
body {

    font-size: 1em;
    line-height: 1.2em;
    background-color: white;
    margin: 0.5em 1.2em 1.2em 1.2em;
}

body,td,h1,h2,h3,p,div,a,li,ul,a:link,a:active,a:visited {

    font-family: "Trebuchet MS", Verdana, Helvetica, sans-serif;
    color: black;
}

a:link    { color: rgb(62%,18%,0%) }
a:visited { color: rgb(21%,7%,0%)  }
a:active  { color: rgb(100%,0%,0%) }

p                    { line-height: 1.5em; font-size: 0.9em; margin: 1em 0em 1em 0em }
p.first              { margin-top: 0em }

p.right, div.right   { text-align: right  }
p.center, div.center { text-align: center }

dl,td,th { line-height: 1.5em; font-size: 0.9em; }

li { font-size: 0.9em }

h1,h2,h3,h4,h5,h6 {

    margin-bottom: 0em;
    color: rgb(173, 185, 94);
}


h1 {
    margin: 20px 0px 1px 0px;
    padding-bottom: 0.25em;
    font-size: 1.4em;
    font-weight: normal;
    background-image: url(http://www.teuniz.net/dash.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

h2 { font-size: 1.1em;  font-weight: normal }
h3 { font-size: 0.9em;  font-weight: bold   }
h4 { font-size: 0.82em; font-weight: bold   }

h2 a { color:rgb(173, 185, 94) ! important; text-decoration: none }
h2 a:hover { color: rgb(173, 185, 94); text-decoration: underline }

div.logo { float: left; padding: 0.3em }

div.bar {

    padding: 0.2em;
    background-color: rgb(96, 137, 166);
    text-align: right;
}

div.linkSets {
}

div.linkSet, div.linkSetLast {
    width: 33%;
    float:left;
}

div.linkSet ul, div.linkSetLast ul {

    margin: 0 0.5em 1em 0;
    padding: 0;
}

div.linkSet ul li, div.linkSetLast  ul li{

    list-style: none;
}

div.linkSets {
    height: 5px;
     background-image: url(http://www.teuniz.net/dash.png);
     background-repeat: repeat-x;
    background-position: top;
}



div.bar div a:link {

    color: white;
    text-decoration: none;
}

div.bar div a:visited {

    color: white;
    text-decoration: none;
}

div.bar div a:hover {

    color: rgb(90%, 90%, 90%);
    text-decoration: none;
}

div.bar div a:active {

    color: white;
    text-decoration: none;
}

div.bar div { color: white }

small { font-size: 0.9em }
big   { font-size: 1.1em }


a.home {

    font-weight: bold;
    padding-right: 0.2em;
    border-right: solid 1px;
}

div.remark, div.postDate {

    margin-top: 0.0em;
    margin-bottom: 0.8em;
    font-size: 0.9em;
    color: rgb(109,130,138);
    text-align: right;
}


img.greyborder {

    padding: 2px;
    border: solid 1px rgb(60%,60%,60%);
    margin-left: 1.2em;
    margin-right: 1.2em;
}

div.cimage {

    margin-top: 1.2em;
    text-align: center;
}

div.caption {

    text-align: center;
    font-size: 0.85em;
    color: rgb(20%,20%,20%);
}

div.g-caption {

    text-align: center;
    font-size: 0.85em;
    color: rgb(20%,20%,20%);
    padding-bottom: 1.2em;
}

ul.thumbs {

    padding: 0;
    margin: 1.2em 0em 0em 0em;
    text-align: center;
}

ul.thumbs li {

    display: inline;
    margin-right: 10px;
}

ul.thumbs li.last {

    display: inline;
    margin-right: 0px;
}

code { line-height: 1em }

div.navigation {

    background-image: url(http://www.teuniz.net/dash.png);
    background-repeat: repeat-x;
    background-position: top;
    margin-top: 0.3em;
    padding-top: 3px;
    text-align: right;
    font-size: 0.9em;
    line-height: 1em;
    clear: both;
}


span.contact { color: rgb(109,130,138) }

span.separator {

    color: rgb(109,130,138);
    margin-left: 0.5em;
    margin-right: 0em;
}


div.leftnav {

    width: 46%;
    float: left;
    margin-top: 0em;
    margin-bottom: 1.2em;
}


div.rightnav {

    width: 46%;
    text-align: right;
    float: right;
    margin-top: 0em;
    margin-bottom: 1.2em;
}

pre {

    margin-left: 1.5em;
    margin-right: 1.5em;
    padding: 0.2em;
    line-height: 1.1em;
    background-color: rgb(245,245,250);
}


h2.pretable {
    margin-left: 0.5em;
    margin-bottom: 0.2em;
}

table {
    margin-left: 0.5em;
    border: solid 1px rgb(60%,60%,60%);
    background-color: rgb(245,245,250);
}

th {
    text-align: left;
}

ul {
    margin-top: 0.2em;
}

div.poem {

    margin-left: 1em;
}


ul.lr {

    padding: 0em;
    margin: 0em;
    display: block;
}

ul.lr li {

    margin: 0em;
    display: block;
    width: 47%;
    margin-bottom: 0.6em;
}

ul.lr li.left {
    float: left;
}


ul.lr li.right {
    float: right;
    text-align: right;
}


ul.ad {

    padding: 0;
    margin: 0;
    margin-top: 5px;
    background-color: rgb(96, 137, 166);
    text-align: center;
    font-size: 11px;
}

ul.ad li {

    display: inline;
    margin-left: 4px;
    margin-right: 4px;
}

ul.ad li a:link {

    color: white;
    text-decoration: none;
}

ul.ad li a:visited {

    color: white;
    text-decoration: none;
}

ul.ad li a:hover {

    color: rgb(90%, 90%, 90%);
    text-decoration: none;
}

ul.ad li a:active {

    color: white;
    text-decoration: none;
}

dt {
    font-weight: bold;
    font-size: 0.95em;
    margin-left: 1em;
}

dd {

    margin-left: 3em;
    margin-right: 5em;
    font-size: 1em;
}


/*--- comments ---*/

h2.comments {

    font-size: 1.1em;
    font-weight: normal;
    /* border-bottom: solid 1px #eee;*/
}


div.entry {
    color: rgb(109,130,138);
    font-size: 0.75em;
    text-align: right;
    background-color: #fcfcff;
    border-top: solid 1px #c0c0c0;
    padding: 0em 0.4em 0em 0.4em;
}

div.commentOdd, div.commentEven {

    /*background-color: #fcfcf4;*/
    /*padding: 0em 0.5em 0em 0.5em;*/
    /*margin: 0.5em 1em 0.5em 1em;*/
    margin: 0.8em 0em 1.2em 0em;
    font-size: 0.9em;
    border: solid 1px #c0c0c0;
}

div.commentOdd p, div.commentEven p, div.commentOdd h2, div.commentEven h2 {
    margin: 0.5em 0.8em 0.5em 0.8em;
}

div.commentOdd h3 {
    font-size: 0.9em;
}

h3 span {
    color: rgb(109,130,138);
    font-size: 1em;
}

div.commentOdd h3.jb {
    font-size: 0.9em;
    color: rgb(96, 137, 166);
}


div.comments {

    clear: both;
    margin-bottom: 2em;
    padding-top: 0em;
    border-top: solid 1px #eee;
    color: rgb(109,130,138);
    font-size: 0.9em;
}

div.comments a img { margin:0 0 2px 7px; vertical-align:bottom; border:0 }

#form {
    margin-top: 1em;
    margin-bottom: 1em;
}

#form label {
    margin-top: 1em;
    display: block;
    font-size: 12px;
    font-weight: bold;
}

#form label.inline {
    display:inline;
}

#google {
    float: right;
    padding-left: 8px;
}

.note {
    background-color: rgb(245,245,250);
    padding: 2px 2px 2px 2px;
    border: solid 1px #337;
    font-size: 0.85em;
}

#important {

    background-color: rgb(245,245,250);
    padding: 2px 2px 2px 2px;
    border: solid 1px #337;
    font-size: 0.85em;
}

#donate {
    border: solid 1px #ccc;
    padding: 4px 8px 4px 8px;
    background-color: #f7f7ff;
    font-size: 0.85em;
}

#donate em {
    color: #cc3333;
    font-weight: bold;
}

.tip {
    background-color: #f7f7f7;
    border: solid 1px #888;
    padding: 4px;
}

p.ad {
    border: solid 1px #ccc;
    padding: 4px 8px 4px 8px;
    background-color: #f7f7ff;
}

p.ad em {
    color: rgb(173, 185, 94);
    font-weight: bold;
    margin-right: 1.5em;
}

td.right {
    text-align: right;
}