if USE_ETHERNET

menu "Ethernet Networking"

config ETHERNET
	bool "Ethernet Network Stack"
	select USES_PATHNAME_PARSER
	default y
	help
	  This options enabled the Ethernet network stack, protocols
	  and commands. 

config CMD_IPCONFIG
	bool "IP configuration command"
	depends on ETHERNET
	default y
	help
	  This command provides a user interface to the IP address
	  configuration methods.

config CMD_IPCONFIG_STATIC
	bool "Static method"
	depends on CMD_IPCONFIG
	default y
	help
	  This method allows for manual configuration of the IP
	  address and gateway.

config CMD_IPCONFIG_RARP
	bool "RARP method"
	depends on CMD_IPCONFIG
	default y
	help
	  This method configures the IP address using the RARP
	  protocol.

config CMD_IPCONFIG_BOOTP
	bool "BOOTP method"
	depends on CMD_IPCONFIG
	default n
	help
	  This method configures the IP address using the BOOTP
	  protocol.

config CMD_IPCONFIG_DHCP
	bool "DHCP method"
	depends on CMD_IPCONFIG
	default n
	help
	  This method configures the IP address using the DHCP
	  protocol.

config PROTO_ICMP_ECHO
	bool "ICMP Echo (Ping) Handler"
	depends on ETHERNET
	default y
	help
	  This option enables an ICMP request handler.  With it, the
	  network stack will answer ICMP echo requests.  It is OK to
	  leave this option N as this feature is unnecessary for
	  proper operation of the network stack.

config CMD_PING
	bool "Ping Command"
	depends on ETHERNET
	default n
	help
	  This option add the ping command for testing network
	  connectivity.

config CMD_ARP
	bool "ARP Command for Testing"
	depends on ETHERNET
	default n
	help
	  This option adds an arp command for testing the ethernet
	  interface.

config CMD_TFTP
	bool "TFTP File Transfer Command"
	depends on ETHERNET
	default y
	help
	  This protocol transfers files over the network.

endmenu

endif

config MAC_FILTER
	bool

config USE_ETHERNET
	bool
